# Apple Mobility Report

Apple gibt ebenfalls einen Mobility Report heraus. Dieser Zeigt jedoch weniger Detailliert welche Orte besucht wurden, sondern ist eine kumulierte Sammlung von Anfragen an Apple Maps. 

https://www.apple.com/covid19/mobility

In [1]:
import pandas as pd

df = pd.read_csv("./data/applemobilitytrends.csv", dtype={'Time': 'string'})
df.head()

,geo_type,region,transportation_type,alternative_name,sub-region,country,2020-01-13,2020-01-14,2020-01-15,2020-01-16,...,2020-06-18,2020-06-19,2020-06-20,2020-06-21,2020-06-22,2020-06-23,2020-06-24,2020-06-25,2020-06-26,2020-06-27
0,country/region,Albania,driving,NaN,NaN,NaN,100.0,95.30,101.43,97.20,...,99.95,119.85,136.26,128.16,109.24,105.57,113.27,115.80,133.38,155.72
1,country/region,Albania,walking,NaN,NaN,NaN,100.0,100.68,98.93,98.46,...,94.63,96.59,97.74,84.18,96.67,97.83,103.88,105.03,113.26,107.46
2,country/region,Argentina,driving,NaN,NaN,NaN,100.0,97.07,102.45,111.21,...,50.71,60.57,57.48,32.01,42.79,46.38,48.12,50.61,57.83,53.58
3,country/region,Argentina,walking,NaN,NaN,NaN,100.0,95.11,101.37,112.67,...,37.47,42.79,40.95,24.00,31.28,33.56,34.09,36.12,40.08,36.86
4,country/region,Australia,driving,AU,NaN,NaN,100.0,102.98,104.21,108.63,...,103.06,106.05,85.04,88.15,91.10,94.49,97.77,106.30,109.75,90.76